.target
  %h2= @target.name

  #deployments
    - if @deployments.any?
      = render @deployments
    - else
      %p.no-data
        There are no deployments for this app yet!

  .full.page-actions
    = link_to "Deploy", deploy_target_path(@target), method: :post, class: "btn"
    = link_to "Delete", @target, method: :delete, class: "btn red", data: { confirm: "Are you sure about that?" }
