.target
  %h2= @target.name

  #deployments
    %p.no-data
      This app hasn't been deployed yet!

  .full.page-actions
    = link_to "Deploy!", "#", class: "btn"
    = link_to "Delete", target_path, method: :delete, class: "btn red", data: { confirm: "Are you sure about that?" }
