.target
  %h1= @target.name

  .full.page-actions
    - if @target.deployable?
      = link_to "Deploy", deploy_target_path(@target), method: :post, class: "btn"
    - else
      .btn.disabled Deploy

    = link_to "Delete", @target, method: :delete, class: "btn red", data: { confirm: "Are you sure about that?" }

  #deployments
    %h2 Deployments

    - if @deployments.any?
      = render @deployments
    - else
      %p.no-data
        There are no deployments for this app yet!

