<!DOCTYPE html>
<html>
<head>
  <title>Deploytower</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <header id="header">
      <a href="/"><h1>DeployTower</h1></a>
    </header>
    <section id="content">
      <%= yield %>
    </section>
  </div>
</body>
</html>
